.gradle/
build/
*/build/

local.properties
developer.properties
.env
backend/.env

.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/shelf/
.idea/.name
.idea/caches/


__pycache__/
.pytest_cache/
*.pyc
*.db
finetuning/output/
finetuning/checkpoints/

.DS_Store
/gradle.properties

backend/uploads/
